services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    ports:
      - "3001:3001"
    env_file:
      - "./backend/.env"
    depends_on:
      - mongo
    volumes:
      - ./backend/src:/app/src

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    env_file:
      - "./frontend/.env"
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src

volumes:
  mongo-data:
